._demo--container
  a.wordmark(href='http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/')
    span.wordmark--left 
      img.demo--logo(src='images/logo.svg', alt='KG logo')
      | IBM Watson - KG Power Hour
      
._demo--banner.banner
  ._demo--container
    .banner--service-container
      .banner--service-icon-container
        img.banner--service-icon(src='images/service-icon.svg', alt='Visual Recognition API Icon')
      .banner--service-info
        h1.banner--service-title.base--h1
          img.banner--service-icon_INLINE(src='images/service-icon.svg', alt='Visual Recognition API Icon')
          | Visual Recognition
        .banner--service-description
          | Visual Recognition that uses deep learning algorithms.
    .banner--service-resource-container
      .banner--row
        .banner--service-resource
          span.icon.icon-link
          strong Resources:
      .banner--row
        .banner--service-links
          li.base--li.banner--service-link-item
            a.base--a(href='https://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/visual-recognition/api/v3/') API Reference
          li.base--li.banner--service-link-item
            a.base--a(href='http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/visual-recognition/') Documentation
