div._demo--container
  ._container--training
    h1.base--h2.use--header Train a new custom clasiffier 
    
    ._training--example.clickable(data-kind='user')
      h3 Custom
      ._training--use-your-own.square
        ._training--use-your-own-plus +

._examples(data-kind="user")
  .user-submitted
    form#user_upload.upload.training_dropzone
      div._demo--container
          input.base--input._examples--input-name(name="classifiername",type='text', placeholder='Name your classifier',required)
      div._demo--container
        
        .positive
          h2 
            b POSITIVE 
            | Classes
          p.text Zip file, 50 images minimum, 250 max
          .classifiers
            .classifier(data-hasfile=0,data-idx=0)
              .text
                span.text-label
                  a.base--a(href="javascript:void(0)") Select
                  |  or drag .zip
                img.text-zip-image(src="images/VR zip icon.svg")
              input(type="file",name="classupload",accept="application/zip")
              input.base--input(type="text",name="classname",placeholder="Name of This Class")
              a(href="").base--a.clear_link Clean
            .classifier(data-hasfile=0,data-idx=1)
              .text
                span.text-label
                  a.base--a(href="javascript:void(0)") Select
                  |  or drag .zip
                img.text-zip-image(src="images/VR zip icon.svg")
              input(type="file",name="classupload",accept="application/zip")
              input.base--input(type="text",name="classname",placeholder="Name of This Class")
              a(href="").base--a.clear_link Clean
            .classifier(data-hasfile=0,data-idx=2)
              .text
                span.text-label
                  a.base--a(href="javascript:void(0)") Select
                  |  or drag .zip
                img.text-zip-image(src="images/VR zip icon.svg")
              input(type="file",name="classupload",accept="application/zip")
              input.base--input(type="text",name="classname",placeholder="Name of This Class")
              a(href="").base--a.clear_link Clean
          .upload_message Upload at least 1 zip with images.
        .seperator
        .negative
          h2.negative-header NEGATIVE
          .classifiers
            .classifier(data-hasfile=0,data-idx=3).negative
              .text
                span.text-label
                  a.base--a(href="javascript:void(0)") Select
                  |  or drag .zip
                img.text-zip-image(src="images/VR zip icon.svg")
              input(name="classname",value="negative")
              input(type="file",name="negativeclassupload",accept="application/zip")
              a(href="").base--a.clear_link Clear
              p Images that seams to be possitive, but they are not.


  .train--row._demo--container
    .train--column-1
      button.train--train-button.base--button(disabled='true') TRAIN THIS CLASSIFIER
      .icon-hyperlink.train--reset
        span.icon.icon-reset
        button.base--a.icon-hyperlink--button.icon-hyperlink--button_BLANK(type='reset')
          | Reset
    
  
  .loading.train--loading
    .loader-container
      svg.loader(viewBox='25 25 50 50')
        circle.loader__path(cx='50', cy='50', r='20')
    p.base--p.loading--message Watson is training your new classifier. 
    p.base--p.loading--message This might take up to 4-5 minutes based on number of images.
  .error.train--error
    img.train--error-image.error--image(src='images/icons/alert.svg')
    p.base--p.train--error-message.error--message Visual Recognition is not available right now...
