html(lang='en')
  head
    title KG IBM Watson Power Hour
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='ct' content='#{locals.ct}')
    meta(name='og:title' content='KG IBM Watson Power Hour')
    meta(name='og:description' content='Visual Recognition uses deep learning algorithms to analyze images for scenes, objects, faces, text, and other subjects that can give you insights into your visual content. You can organize image libraries, understand an individual image, and create custom classifiers for specific results that are tailored to your needs.')
    link(rel='icon', href='/images/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='css/training.css')
    link(rel='stylesheet', href='css/footer.css')
    block extra-header
    link(rel='stylesheet', href='css/extra.css')
    link(rel='stylesheet', href='css/custom.css')
  body
    header._demo--heading
      include ./includes/header.jade
    div.positioning-offset
    block content
    div._demo--banner.bottom-banner
      include ./includes/footer.jade
    include ./includes/underscore-templates.jade
    script(src='js/vendors/browser-detect.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.5.7/jquery.fileupload.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.5.7/jquery.iframe-transport.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.0/js.cookie.min.js')
    script(src='js/bundle.js')
