@charset "UTF-8";
/*
Basic usage:

.grid-column-5 {
  @include grid(5);
}
// last grid has no gutter on right
.grid-column-7 {
  @include grid(7, false);
}
*/
body, .base--input,
.base--STYLED input:not([type]), .base--color-input,
.base--STYLED input[type="color"], .base--date-input,
.base--STYLED input[type="date"], .base--datetime-local-input,
.base--STYLED input[type="datetime-local"], .base--email-input,
.base--STYLED input[type="email"], .base--file-input,
.base--STYLED input[type="file"], .base--hidden-input,
.base--STYLED input[type="hidden"], .base--month-input,
.base--STYLED input[type="month"], .base--number-input,
.base--STYLED input[type="number"], .base--password-input,
.base--STYLED input[type="password"], .base--range-input,
.base--STYLED input[type="range"], .base--search-input,
.base--STYLED input[type="search"], .base--tel-input,
.base--STYLED input[type="tel"], .base--text-input,
.base--STYLED input[type="text"], .base--time-input,
.base--STYLED input[type="time"], .base--url-input,
.base--STYLED input[type="url"], .base--week-input,
.base--STYLED input[type="week"], .base--select,
.base--STYLED select, .base--textarea,
.base--STYLED textarea {
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, "Open Sans", Arial, "Lucida Grande", "Roboto", sans-serif; }

.base--code,
.base--STYLED code, .base--pre,
.base--STYLED pre, pre[class^="language-"],
pre[class*=" language-"], .base--pre code, pre[class^="language-"] code,
pre[class*=" language-"] code, .base--pre .base--code,
.base--STYLED pre .base--code, pre[class^="language-"] .base--code,
pre[class*=" language-"] .base--code {
  font-family: "Courier New", "Lucida Console", monospace; }

.icon {
  vertical-align: middle;
  display: inline; }

.base--div:before,
.base--STYLED div:before,
div:before, .base--article:before,
.base--STYLED article:before,
article:before, .tab-views--tab-list:before, .use--output-note:before, .test--output-note:before, .base--div:after,
.base--STYLED div:after,
div:after, .base--article:after,
.base--STYLED article:after,
article:after, .tab-views--tab-list:after, .use--output-note:after, .test--output-note:after {
  content: '';
  display: table;
  clear: both; }

.base--div,
.base--STYLED div,
div, .base--article,
.base--STYLED article,
article {
  box-sizing: border-box; }
  .base--div:before,
  .base--STYLED div:before,
  div:before, .base--article:before,
  .base--STYLED article:before,
  article:before, .base--div:after,
  .base--STYLED div:after,
  div:after, .base--article:after,
  .base--STYLED article:after,
  article:after {
    box-sizing: border-box; }

@font-face {
  font-family: "icons";
  src: url("../fonts/icon-fonts/icons.eot");
  src: url("../fonts/icon-fonts/icons.eot?#iefix") format("eot"), url("../fonts/icon-fonts/icons.woff") format("woff"), url("../fonts/icon-fonts/icons.ttf") format("truetype"), url("../fonts/icon-fonts/icons.svg#icons") format("svg"); }

.icon:before {
  font-family: "icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  /* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
  text-decoration: none;
  text-transform: none; }

.icon-alert:before {
  content: "\E001"; }

.icon-down-arrow:before {
  content: "\E002"; }

.icon-link:before {
  content: "\E003"; }

.icon-reset:before {
  content: "\E004"; }

.icon {
  vertical-align: middle;
  display: inline; }

/*! Reset/normalize hybrid with major contributions from normalize.css, html5doctor.com Reset Stylesheet, and http://html5reset.org/

* Sam Richard - http://snugug.com/
* Nicholas Gallagher, Jonathan Neal - http://necolas.github.io/normalize.css/
* Richard Clark - http://richclarkdesign.com
* Tim Murtaugh - http://monkeydo.biz/
*/
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
main,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  line-height: 1; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

a:active,
a:hover {
  outline: 0; }

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

ul {
  list-style: none; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

pre {
  overflow: auto;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word; }

code,
kbd,
pre,
samp {
  font-size: 1em;
  font-family: monospace, sans-serif; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid;
  margin: 1em 0;
  padding: 0; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button,
input[type="button"] {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="file"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

input,
select {
  vertical-align: middle; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

embed,
img,
object,
video {
  max-width: 100%;
  height: auto; }

body {
  line-height: 1.5; }

body {
  margin: 0; }
  body * + * {
    margin-top: 1rem; }

body {
  background: #fff;
  color: #121212; }

.base--h1,
.base--STYLED h1 {
  font-size: 2.44141em;
  font-weight: 300;
  color: #15191b;
   }
  @media (min-width: 500px) {
    .base--h1,
    .base--STYLED h1 {
      font-size: 4.20873em; } }

.base--h2,
.base--STYLED h2 {
  font-size: 1.95312em;
  font-weight: 200;
  color: #244ec9; }

.base--h3,
.base--STYLED h3 {
  font-size: 1.5625em;
  font-weight: 400;
  color: #323232; }

.base--h4,
.base--STYLED h4 {
  font-size: 1.25em;
  font-weight: 400;
  color: #323232; }
  @media (min-width: 500px) {
    .base--h4,
    .base--STYLED h4 {
      font-size: 1.333em; } }

.base--h5,
.base--STYLED h5 {
  font-size: 1em;
  font-weight: 700;
  color: #5a5a5a; }

.base--h6,
.base--STYLED h6 {
  font-size: 1em;
  font-weight: 400;
  color: #5a5a5a; }

.base--input,
.base--STYLED input:not([type]), .base--color-input,
.base--STYLED input[type="color"], .base--date-input,
.base--STYLED input[type="date"], .base--datetime-local-input,
.base--STYLED input[type="datetime-local"], .base--email-input,
.base--STYLED input[type="email"], .base--file-input,
.base--STYLED input[type="file"], .base--hidden-input,
.base--STYLED input[type="hidden"], .base--month-input,
.base--STYLED input[type="month"], .base--number-input,
.base--STYLED input[type="number"], .base--password-input,
.base--STYLED input[type="password"], .base--range-input,
.base--STYLED input[type="range"], .base--search-input,
.base--STYLED input[type="search"], .base--tel-input,
.base--STYLED input[type="tel"], .base--text-input,
.base--STYLED input[type="text"], .base--time-input,
.base--STYLED input[type="time"], .base--url-input,
.base--STYLED input[type="url"], .base--week-input,
.base--STYLED input[type="week"], .base--select,
.base--STYLED select {
  width: 100%;
  padding: 0.6em 1em;
  font-size: 1em;
  font-weight: 300;
  border: 1px solid #325c80;
  background-color: #fff; }
  .base--input:focus,
  .base--STYLED input:focus:not([type]), .base--color-input:focus,
  .base--STYLED input[type="color"]:focus, .base--date-input:focus,
  .base--STYLED input[type="date"]:focus, .base--datetime-local-input:focus,
  .base--STYLED input[type="datetime-local"]:focus, .base--email-input:focus,
  .base--STYLED input[type="email"]:focus, .base--file-input:focus,
  .base--STYLED input[type="file"]:focus, .base--hidden-input:focus,
  .base--STYLED input[type="hidden"]:focus, .base--month-input:focus,
  .base--STYLED input[type="month"]:focus, .base--number-input:focus,
  .base--STYLED input[type="number"]:focus, .base--password-input:focus,
  .base--STYLED input[type="password"]:focus, .base--range-input:focus,
  .base--STYLED input[type="range"]:focus, .base--search-input:focus,
  .base--STYLED input[type="search"]:focus, .base--tel-input:focus,
  .base--STYLED input[type="tel"]:focus, .base--text-input:focus,
  .base--STYLED input[type="text"]:focus, .base--time-input:focus,
  .base--STYLED input[type="time"]:focus, .base--url-input:focus,
  .base--STYLED input[type="url"]:focus, .base--week-input:focus,
  .base--STYLED input[type="week"]:focus, .base--select:focus,
  .base--STYLED select:focus {
    outline: 2px solid #325c80;
    border-color: #325c80; }
  .base--input:disabled,
  .base--STYLED input:disabled:not([type]), .base--color-input:disabled,
  .base--STYLED input[type="color"]:disabled, .base--date-input:disabled,
  .base--STYLED input[type="date"]:disabled, .base--datetime-local-input:disabled,
  .base--STYLED input[type="datetime-local"]:disabled, .base--email-input:disabled,
  .base--STYLED input[type="email"]:disabled, .base--file-input:disabled,
  .base--STYLED input[type="file"]:disabled, .base--hidden-input:disabled,
  .base--STYLED input[type="hidden"]:disabled, .base--month-input:disabled,
  .base--STYLED input[type="month"]:disabled, .base--number-input:disabled,
  .base--STYLED input[type="number"]:disabled, .base--password-input:disabled,
  .base--STYLED input[type="password"]:disabled, .base--range-input:disabled,
  .base--STYLED input[type="range"]:disabled, .base--search-input:disabled,
  .base--STYLED input[type="search"]:disabled, .base--tel-input:disabled,
  .base--STYLED input[type="tel"]:disabled, .base--text-input:disabled,
  .base--STYLED input[type="text"]:disabled, .base--time-input:disabled,
  .base--STYLED input[type="time"]:disabled, .base--url-input:disabled,
  .base--STYLED input[type="url"]:disabled, .base--week-input:disabled,
  .base--STYLED input[type="week"]:disabled, .base--select:disabled,
  .base--STYLED select:disabled {
    background-color: #ececec; }

.base--block-label {
  display: block;
  margin: 1.25em 0 .25em; }

.base--inline-label,
.base--STYLED label {
  display: inline; }

.base--radio,
.base--STYLED input[type="radio"] {
  display: none; }
  .base--radio + label,
  .base--STYLED input[type="radio"] + label {
    position: relative; }
    .base--radio + label:before,
    .base--STYLED input[type="radio"] + label:before {
      display: inline-block;
      width: 1em;
      height: 1em;
      margin-right: 1rem;
      vertical-align: middle;
      border: 1px solid #aeaeae;
      border-radius: 50%;
      content: '';
      -webkit-transform: translateY(-0.125em);
          -ms-transform: translateY(-0.125em);
              transform: translateY(-0.125em); }
  .base--radio:checked + label:before,
  .base--STYLED input[type="radio"]:checked + label:before {
    background: -webkit-radial-gradient(#323232 40%, transparent 40%);
    background: radial-gradient(#323232 40%, transparent 40%); }

.base--color-input,
.base--STYLED input[type="color"] {
  height: 3em;
  padding: .25em;
  background: #fff; }

.base--range-input,
.base--STYLED input[type="range"] {
  height: 0.5em;
  padding: 0;
  background-color: #fff;
  border-radius: 0.5em;
  box-shadow: inset 0 0 0 0.125em #325c80; }
  .base--range-input:focus,
  .base--STYLED input[type="range"]:focus {
    outline: 0;
    box-shadow: inset 0 0 0 0.125em #325c80; }
  .base--range-input:disabled,
  .base--STYLED input[type="range"]:disabled {
    opacity: .5; }
  .base--range-input::-moz-range-track,
  .base--STYLED input[type="range"]::-moz-range-track {
    height: 0.5em;
    padding: 0;
    background-color: #fff;
    border-radius: 0.5em;
    box-shadow: inset 0 0 0 0.125em #325c80; }
  .base--range-input::-webkit-slider-thumb,
  .base--STYLED input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1.5em;
    height: 1.5em;
    background: #fff;
    border-radius: 1.5em;
    box-shadow: inset 0 0 0 0.1875em #325c80;
    -webkit-transition-duration: .5s;
            transition-duration: .5s; }
  .base--range-input:active::-webkit-slider-thumb,
  .base--STYLED input[type="range"]:active::-webkit-slider-thumb {
    box-shadow: inset 0 0 0 1.25em #325c80;
    width: 1.875em;
    height: 1.875em; }
  .base--range-input::-moz-range-thumb,
  .base--STYLED input[type="range"]::-moz-range-thumb {
    -moz-appearance: none;
    width: 1.5em;
    height: 1.5em;
    background: #fff;
    border-radius: 1.5em;
    box-shadow: inset 0 0 0 0.1875em #325c80;
    transition-duration: .5s; }
  .base--range-input:active::-moz-range-thumb,
  .base--STYLED input[type="range"]:active::-moz-range-thumb {
    box-shadow: inset 0 0 0 1.25em #325c80;
    width: 1.875em;
    height: 1.875em; }

.base--textarea,
.base--STYLED textarea {
  width: 100%;
  padding: 0.6em 1em;
  font-size: 1em;
  font-weight: 300;
  border: 2px solid #ececec;
  background-color: #fff; }
  .base--textarea:focus,
  .base--STYLED textarea:focus {
    outline: #3B99FC auto 5px;
    border-color: #ececec; }
  .base--textarea:disabled,
  .base--STYLED textarea:disabled {
    background-color: #ececec; }

.base--checkbox,
.base--STYLED input[type="checkbox"] {
  display: none; }
  .base--checkbox + label,
  .base--STYLED input[type="checkbox"] + label {
    position: relative; }
    .base--checkbox + label:before,
    .base--STYLED input[type="checkbox"] + label:before {
      display: inline-block;
      width: 1em;
      height: 1em;
      margin-right: 1rem;
      vertical-align: middle;
      border: 1px solid #aeaeae;
      content: '';
      -webkit-transform: translateY(-0.125em);
          -ms-transform: translateY(-0.125em);
              transform: translateY(-0.125em); }
  .base--checkbox:checked + label:before,
  .base--STYLED input[type="checkbox"]:checked + label:before {
    background: #323232;
    box-shadow: inset 0 0 0 0.66667px #fff; }

.base--select,
.base--STYLED select {
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww%2Ew3%2Eorg%2F2000%2Fsvg%22%20viewbox%3D%220%200%2014%2014%20true%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20fill%3D%22%23325c80%22%20points%3D%220%2C0%206%2E825%2C14%2014%2C0%20%22%2F%3E%3C%2Fsvg%3E");
  background-size: 1em 1em;
  background-repeat: no-repeat;
  background-position: calc(100% - .3em) 1em; }

.base--button,
.base--STYLED button {
  padding: 0.5em 1em;
  color: #a53725;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid #d74108;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: inline-block; }
  .base--button:hover,
  .base--STYLED button:hover, .base--button:focus,
  .base--STYLED button:focus {
    color: #fff;
    background-color: #d74108; }

.base--button[type='submit'],
.base--STYLED button[type='submit'] {
  padding: 0.5em 1em;
  color: white;
  font-weight: bold;
  background-color: #325c80;
  border: 2px solid #325c80;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: inline-block; }
  .base--button[type='submit']:hover, .base--button[type='submit']:focus,
  .base--STYLED button[type='submit']:hover,
  .base--STYLED button[type='submit']:focus {
    color: #fff;
    background-color: #325c80; }
  .base--button[type='submit']:focus, .base--button[type='submit']:hover,
  .base--STYLED button[type='submit']:focus,
  .base--STYLED button[type='submit']:hover {
    padding: 0.5em 1em;
    color: #a53725;
    font-weight: bold;
    background-color: #264a60;
    border: 2px solid #264a60;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    display: inline-block; }
    .base--button[type='submit']:focus:hover, .base--button[type='submit']:focus:focus, .base--button[type='submit']:hover:hover, .base--button[type='submit']:hover:focus,
    .base--STYLED button[type='submit']:focus:hover,
    .base--STYLED button[type='submit']:focus:focus,
    .base--STYLED button[type='submit']:hover:hover,
    .base--STYLED button[type='submit']:hover:focus {
      color: #fff;
      background-color: #264a60; }

.base--button[type='reset'],
.base--STYLED button[type='reset'] {
  background-color: #fff;
  border: 3px solid #aeaeae;
  color: #5a5a5a; }
  .base--button[type='reset']:hover,
  .base--STYLED button[type='reset']:hover {
    background-color: #5a5a5a;
    border: 3px solid #5a5a5a;
    color: #fff; }

.base--hr {
  border-top: 2px solid #ececec; }

.base--hr,
.base--STYLED hr {
  border-top: 2px solid #ececec; }

.base--a,
.base--STYLED a, .train--clear-button {
  color: #a53725; }
  .base--a:hover,
  .base--STYLED a:hover, .train--clear-button:hover, .base--a:focus,
  .base--STYLED a:focus, .train--clear-button:focus {
    color: #aeaeae; }

.base--em,
.base--STYLED em {
  font-style: italic; }

.base--strong,
.base--STYLED strong {
  font-weight: 700; }

.base--p,
.base--STYLED p {
  font-size: 1em;
  color: #5a5a5a;
  margin-top: 0; }

.base--code,
.base--STYLED code {
  padding: .2em .5em;
  font-size: .8em;
  color: #d74108;
  outline: 1px solid rgba(119, 118, 119, 0.25); }

.base--pre,
.base--STYLED pre, pre[class^="language-"],
pre[class*=" language-"], .base--pre code,
.base--STYLED pre code, pre[class^="language-"] code,
pre[class*=" language-"] code, .base--pre .base--code,
.base--STYLED pre .base--code, pre[class^="language-"] .base--code,
pre[class*=" language-"] .base--code {
  display: block;
  -webkit-hyphens: none;
     -moz-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
  word-spacing: normal;
  text-align: left;
  word-break: normal;
  white-space: pre;
  word-wrap: normal;
  direction: ltr;
  -moz-tab-size: 2;
    -o-tab-size: 2;
       tab-size: 2;
  overflow-y: overlay; }

.base--pre,
.base--STYLED pre, pre[class^="language-"],
pre[class*=" language-"] {
  margin: .5em 0;
  overflow: auto;
  border: 1px solid rgba(119, 118, 119, 0.25); }
  .base--pre code,
  .base--STYLED pre code, pre[class^="language-"] code,
  pre[class*=" language-"] code, .base--pre .base--code,
  .base--STYLED pre .base--code, pre[class^="language-"] .base--code,
  pre[class*=" language-"] .base--code {
    padding: 1em;
    font-size: 1em;
    outline: 0; }

.base--ul,
.base--STYLED ul, .base--ol,
.base--STYLED ol {
  display: table;
  padding-left: 0;
  margin-left: 0;
  list-style: none; }
  .base--ul li,
  .base--STYLED ul li, .base--ol li,
  .base--STYLED ol li, .base--ul .base--li,
  .base--STYLED ul .base--li, .base--ol .base--li,
  .base--STYLED ol .base--li {
    display: table-row;
    counter-increment: table-ol; }
    .base--ul li:before,
    .base--STYLED ul li:before, .base--ol li:before,
    .base--STYLED ol li:before, .base--ul .base--li:before,
    .base--STYLED ul .base--li:before, .base--ol .base--li:before,
    .base--STYLED ol .base--li:before {
      display: table-cell;
      padding-right: .4em;
      text-align: right; }

.base--ul li:before,
.base--STYLED ul li:before, .base--ul .base--li:before,
.base--STYLED ul .base--li:before {
  content: "•"; }

.base--ol li:before,
.base--STYLED ol li:before, .base--ol .base--li:before,
.base--STYLED ol .base--li:before {
  content: counter(table-ol) "."; }

.base--blockquote,
.base--STYLED blockquote {
  padding: 0em 1.5em;
  margin-right: 1em;
  margin-left: 1em;
  font-style: italic;
  color: #5a5a5a;
  border-left: 0.25em solid #6d120f; }

.base--table,
.base--STYLED table {
  width: 100%; }

.base--thead,
.base--STYLED thead {
  font-weight: bold;
  color: #fff;
  background-color: #325c80; }

.base--td,
.base--STYLED td {
  padding: 1em; }

.base--tr:nth-of-type(even),
.base--STYLED tr:nth-of-type(even) {
  background-color: #ececec; }

.loader {
  width: 100%; }
  .smil .loader--fallback {
    display: none; }
  .no-smil .loader--fallback,
  .no-svg .loader--fallback {
    display: block; }
  .no-svg .loader--svg,
  .no-smil .loader--svg {
    display: none; }

.radiogroup {
  list-style: none; }

.radiogroup--item {
  margin-bottom: .5em; }

pre[class^="language-"],
pre[class*=" language-"] {
  background: #323232; }
  pre[class^="language-"] > code[class^="language-"],
  pre[class^="language-"] > code[class*=" language-"],
  pre[class*=" language-"] > code[class^="language-"],
  pre[class*=" language-"] > code[class*=" language-"] {
    color: #e0e0e0; }

.token.prolog,
.token.doctype,
.token.cdata,
.token.punctuation {
  color: #fff; }

.token.comment {
  color: #aeaeae; }

.token.tag,
.token.constant,
.token.symbol,
.token.deleted,
.token.keyword {
  color: #ff71d4; }

.token.boolean,
.token.number {
  color: #d7aaff; }

.token.selector,
.token.attr-name,
.token.char,
.token.builtin,
.token.inserted,
.token.function {
  color: #b4e051; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #e0e0e0; }

.token.atrule,
.token.string,
.token.attr-value {
  color: #fde876; }

.token.property {
  color: #7cc7ff; }

.token.regex,
.token.important {
  color: #ffa573; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

.icon-hyperlink--button_BLANK {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  padding: 0rem;
  margin: 0rem;
  font-size: 1rem;
  color: #315d80; }
  .icon-hyperlink--button_BLANK:hover, .icon-hyperlink--button_BLANK:focus {
    color: #aeaeae; }

.icon-hyperlink .icon {
  color: #315d80; }

.icon-hyperlink .icon-reset {
  font-size: 1.5em; }

.panel {
  background-color: #f4f4f4;
  border: 2px solid #ececec;
  padding: 0 1rem 1rem; }

.hr-title {
  margin-top: 3rem; }
  .hr-title + .hr-title--title {
    margin-top: -1.96rem;
    margin-bottom: 0rem;
    background: white;
    display: inline-block;
    position: absolute;
    padding-right: 1rem; }

.wordmark {
  cursor: pointer;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  font-size: 1.062em;
  text-decoration: none; }
  .wordmark--left {
    color: #fdfdfd;
    font-weight: 100;
    font-size: 36px; }
  .wordmark--right {
    color: #ffffff;
    font-weight: 500; }
  @media (min-width: 700px) {
    .wordmark {
      margin-bottom: 1rem;
      float: left; } }
  @media (min-width: 768px) {
    .wordmark {
      margin-left: 0; } }

.heading-nav {
  margin-right: 0.5rem;
  margin-top: 0; }
  @media (min-width: 700px) {
    .heading-nav {
      float: right; } }
  @media (min-width: 768px) {
    .heading-nav {
      margin-right: 0; } }
  .heading-nav--li {
    display: block;
    margin-bottom: 1rem;
    margin-top: 1rem; }
    @media (min-width: 700px) {
      .heading-nav--li {
        margin-top: 0rem;
        margin-bottom: 0rem;
        display: inline-block; } }
  .heading-nav--item {
    color: #c7c7c7;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    padding-left: 0.75em;
    border-left: 0.25em solid #404041; }
    .heading-nav--item:focus, .heading-nav--item:hover {
      border-left: 0.25em solid #5596E6;
      color: #ffffff; }
    @media (min-width: 700px) {
      .heading-nav--item {
        margin-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        border-left: 0;
        border-bottom: 0.25em solid #404041; }
        .heading-nav--item:focus, .heading-nav--item:hover {
          border-left: 0;
          border-bottom: 0.25em solid #5596E6; } }

.icon-hyperlink {
  float: left; }
  .icon-hyperlink button[type="reset"] {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    padding: 0rem;
    margin: 0rem;
    width: 4rem;
    color: #315d80; }
    .icon-hyperlink button[type="reset"]:hover, .icon-hyperlink button[type="reset"]:focus {
      color: #aeaeae; }
  .icon-hyperlink .icon {
    color: #315d80; }
  .icon-hyperlink .icon-reset {
    font-size: 1.5em; }

.banner--service-icon {
  vertical-align: middle;
  margin-top: 0.5rem; }
  @media (min-width: 500px) {
    .banner--service-icon {
      width: 6.25em; } }
  @media (min-width: 700px) {
    .banner--service-icon {
      width: 8.125em; } }

.banner--service-icon_INLINE {
  vertical-align: middle;
  display: inline;
  height: 1.25em;
  display: none;
  margin-top: -0.275em; }
  @media (min-width: 500px) {
    .banner--service-icon_INLINE {
      display: none; } }

.banner--service-icon-container {
  display: none;
  width: 100%;
  clear: right;
  float: right;
  margin-right: 0; }
  @media (min-width: 500px) {
    .banner--service-icon-container {
      display: block;
      margin-top: 1rem; } }
  @media (min-width: 700px) {
    .banner--service-icon-container {
      width: 16.66667%;
      clear: right;
      float: left;
      padding-right: 1rem;
      display: inline-block; } }

@media (min-width: 700px) {
  .banner--service-info {
    width: 83.33333%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 0%;
    display: inline-block; } }

.banner--service-title {
  width: 100%;
  clear: right;
  float: right;
  margin-right: 0; }

.banner--service-links {
  margin-left: 1rem;
  margin-left: 1.35rem; }

.banner--service-link-item {
  display: block;
  margin-top: 0; }
  @media (min-width: 700px) {
    .banner--service-link-item {
      display: inline-block;
      margin-right: 1rem; } }

.tab-panels {
  background-color: #f4f4f4;
  border: 2px solid #ececec;
  padding: 0 1rem 1rem;
  margin-top: 2rem; }
  .tab-panels--tab-list {
    border-bottom: 2px solid #ececec; }
  .tab-panels--tab-list-item {
    display: inline-block; }
  .tab-panels--tab {
    display: block;
    text-decoration: none;
    padding: 0 1rem 1rem; }
    .tab-panels--tab:focus, .tab-panels--tab:hover {
      border-bottom: 6px solid #6d120f;
      color: #6d120f; }
    .tab-panels--tab.active {
      font-weight: 700;
      border-bottom: 6px solid #a53725; }
  .tab-panels--tab-content {
    padding: 0rem 1rem;
    margin-top: 6rem; }
  .tab-panels--tab-content .base--textarea {
    min-height: 11.7rem;
    margin-top: 0rem; }
  .tab-panels--tab-pane {
    display: none;
    margin-top: 0rem; }
    .tab-panels--tab-pane.active {
      display: block; }
.tab-views--tab-list.stickied {
  position: fixed;
  top: 0rem;
}

.tab-views {
  background-color: transparent;
  border: none;
  margin-top: 0rem;
  margin-bottom: 1.25rem;
  padding: 0rem; }
  @media (min-width: 768px) {
    .tab-views {
      padding: 0rem 1rem 1rem; } }
  .tab-views--tab-list {
    margin-left: 0rem;
    width: 100%;
    position: absolute;
    z-index: 100;
    background-color: #e5e5e6;
    text-align: center;
    border: none; }
    @media (min-width: 768px) {
      .tab-views--tab-list {
        margin-left: -1rem; } }
  .tab-views--tab-list-item {
    text-align: center;
    border: none;
    margin-top: 1rem;
    margin-left: 1rem;
    display: inline-block; }
    .tab-views--tab-list-item:hover {
      border: none; }
  .tab-views--tab {
    display: inline-block;
    padding: 0 1rem 0.5rem;
    font-size: 1rem;
    height: 2.1rem;
    color: #121212; }
    .tab-views--tab:focus, .tab-views--tab:hover {
      border-bottom: 5px solid #244ec9;
      color: #244ec9; }
    .tab-views--tab.disabled {
      color: #c7c7c7; }
      .tab-views--tab.disabled:focus, .tab-views--tab.disabled:hover {
        border: none;
        color: #c7c7c7;
        cursor: default; }
    .tab-views--tab.active {
      font-weight: 700;
      color: #244ec9;
      border-bottom: 5px solid #244ec9; }
  .tab-views--tab-pane {
    margin-top: 2rem; }

.positioning-offset {
  margin: 0rem;
}

.use--header {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.use--example-radio {
  display: none; }
.use--example-radio:checked + .use--example-thumb {
  box-shadow: 0px 0px 0px 3px #244ec9;
}

.use--example-thumb {
  margin-top: 0rem;
  width: calc(50% - 0.5rem);
  margin-right: 1rem;
  margin-bottom: 1rem;
  float: left;
  position: relative;
  display: inline-block;
  height: 100px;
  cursor: pointer;
  transition: 0.15s;
  overflow: hidden; }
  .use--example-thumb:nth-of-type(2n) {
    margin-right: 0rem;
  }
  .use--example-thumb:hover {
    z-index: 1;
    box-shadow: 0px 0px 0px 3px #336588; }
  @media (min-width: 500px) {
    .use--example-thumb {
      width: calc(25% - 0.75rem);
      margin-right: 1rem;
      margin-bottom: 1rem;
    }
    .use--example-thumb:nth-of-type(2n) {
      margin-right: 1rem;
    }
    .use--example-thumb:nth-of-type(4n) {
      margin-right: 0rem;
    }
  }
  @media (min-width: 1200px) {
    .use--example-thumb {
      width: calc(12.5% - 0.2625rem);
      margin-right: 0.3rem;
      margin-bottom: 0.3rem;
    }
    .use--example-thumb:nth-of-type(2n) {
      margin-right: 0.3rem;
    }
    .use--example-thumb:nth-of-type(4n) {
      margin-right: 0.3rem;
    }
  }

div.use--dropzone {
  width: calc(50% - 0.5rem);
  float: left;
  display: inline-block;
  margin-right: 0rem;
  margin-top: 0rem;
  text-align: center;
}
@media (min-width: 500px) {
  div.use--dropzone {
    width: calc(25% - 0.75rem);
  }
}
@media (min-width: 1200px) {
  div.use--dropzone {
    width: calc(12.5% - 0.2625rem);
  }
}

.use--example-image {
  position: absolute;
  left: -9999px;
  right: -9999px;
  top: -9999px;
  bottom: -9999px;
  margin: auto;
  max-width: initial;
  width: 100%; }
  .use--example-image.landscape {
    height: 100%;
    width: auto; }

.use--example-image-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #7cc7ff;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-top: 0rem; }

.use--example-images_car_vs_truck {
  display: none; }

.use--example-images_pizza_vs_spaghetti {
  display: none; }

.use--example-images_golden_retrievers_vs_dogs {
  display: none; }

.use--example-images_baseball_vs_cricket {
  display: none; }

.use--file-input {
  display: none; }

.use--file-input-button {
  cursor: pointer;
  border: 2px dashed #315d80;
  padding: 0.25rem;
  font-weight: 400;
  height: 100%;
  background-color: #f1f1f1;
  color: #777677;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1em; }
  .use--file-input-button:hover {
    background-color: transparent;
    color: #777677; }
  .use--file-input-button .base--a {
    margin-top: 0px;
    text-decoration: underline; }
  .use--file-input-button.dragover {
    border-color: #5596e6;
    background-color: #c0e6ff; }
  .use--file-input-button-big-plus {
    font-size: 4.5em;
    font-size: 3.5em;
    font-weight: 300;
    color: #315d80;
    line-height: 1;
    margin-bottom: 0.25rem; }
  @media (min-width: 500px) {
    .use--file-input-button-big-plus {
      font-size: 3.5em; } }
  .use--file-input-button-text {
    margin: 0rem;
    line-height: 1.25;
    display: none; }
    @media (min-width: 500px) {
      .use--file-input-button-text {
        display: block; } }
  .use--file-input-button-text span {
    display: block;
  }

.use--url {
  margin-bottom: 3.1rem;
  margin-top: 1.5rem; }

.use--url-input {
  font-size: 0.9rem;
  font-weight: 400;
  border-width: 2px;
  border-color: #c7c7c7;
  padding: 0.5rem 0.75rem;
  -webkit-transition: 0.2s;
  width: 100%;
  transition: 0.2s;
  margin-top: 0rem; }
  .use--url-input:focus {
    outline: 2px solid #5596e6; }
  .use--url-input_error:focus {
    background-color: #ffa5b4;
    outline-color: #e71d32;
    color: #ad1625; }
    .use--url-input_error:focus::-webkit-input-placeholder {
      color: white; }
    .use--url-input_error:focus:-moz-placeholder {
      color: white; }
    .use--url-input_error:focus::-moz-placeholder {
      color: white; }
    .use--url-input_error:focus:-ms-input-placeholder {
      color: white; }
  @media (min-width: 768px) {
    .use--url-input {
      max-width: 19.5rem;
    }
  }

.use--invalid-image-url {
  color: #e71d32;
  margin-bottom: 1rem; }

.use--invalid-url {
  color: #e71d32;
  margin-bottom: 1rem; }

.use--output-header {
  color: #121212;
  font-size: 2.25rem;
  font-weight: normal; }

.use--output-image-container {
  width: 100%;
  display: block;
  max-width: 300px;
  height: 300px;
  position: relative;
  margin: 0rem auto;
  overflow: hidden; }
  @media (min-width: 768px) {
    .use--output-image-container {
      max-width: 100%;
      margin: 0rem; } }

.use--output-image {
  position: absolute;
  left: -9999px;
  right: -9999px;
  top: -9999px;
  bottom: -9999px;
  margin: auto;
  max-width: initial;
  display: block;
  width: 100%; }
  .use--output-image.landscape {
    height: 100%;
    width: auto; }

.boxes {
  margin: 0rem;
  height: 0rem;
  width: 0rem;
}

.box-location {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255, 255, 255, 0.54);
  border-color: #f3f3f3;
  top: 0rem;
  display: block;
  margin-top: 0rem;
  left: calc(50% - 7rem);
}

.use--output-thead {
  border-bottom: 3px solid #ececec;
  background-color: transparent;
  font-weight: 300; }

.use--output-tr.base--tr:nth-of-type(even),
.use--output-tr.base--STYLED tr:nth-of-type(even) {
  background-color: transparent; }

.use--output-td {
  padding: 1rem 0rem;
  color: #959595; }
  @media (min-width: 768px) {
    .use--output-td {
      padding: 1rem; } }
  .use--output-tr .use--output-td:nth-of-type(2n) {
    text-align: center; }
  .use--output-tr:nth-of-type(1) .use--output-td {
    font-size: 1.25em;
    font-weight: 300; }
  .use--output-thead .use--output-td {
    padding-top: 0rem;
    color: #323232; }
  .use--output-td_positive {
    color: #4b8400; }
  .use--output-td_medium {
    color: #ff7832; }
  .use--output-td_negative {
    color: #e71d32; }

.use--output-note {
  margin-top: 2rem;
  color: #777677;
  font-size: 0.9rem; }

.use--hr {
  border-top-width: 3px; }

.use--train-button {
  padding: 0.5em 1em;
  color: white;
  font-weight: bold;
  background-color: #325c80;
  border: 2px solid #325c80;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: inline-block;
  display: block;
  width: 100%;
  font-weight: 300; }
  .use--train-button:hover, .use--train-button:focus {
    color: #fff;
    background-color: #325c80; }
  .use--train-button:focus, .use--train-button:hover {
    padding: 0.5em 1em;
    color: #a53725;
    font-weight: bold;
    background-color: #264a60;
    border: 2px solid #264a60;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    display: inline-block; }
    .use--train-button:focus:hover, .use--train-button:focus:focus, .use--train-button:hover:hover, .use--train-button:hover:focus {
      color: #fff;
      background-color: #264a60; }
  .use--train-button:focus, .use--train-button:hover {
    font-weight: 300; }
  @media (min-width: 768px) {
    .use--train-button {
      width: 48.93617%;
      margin-right: 2.12766%;
      float: left; } }

.train--header {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.train--input {
  margin-top: 0rem; }

.train--text {
  font-size: 0.9rem;
  color: #777677;
  margin-top: 1rem; }

.train--input-error-message {
  display: none;
  color: #e71d32; }

.train--browser-warning {
  display: none;
  margin-top: 1.5rem;
}

.train--url-input {
  padding: 1rem 2rem;
  margin-top: 0rem;
  font-size: 0.9rem;
  border-width: 2px;
  border-color: #c7c7c7;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .train--url-input:focus {
    outline: 2px solid #5596e6; }
  .train--url-input_error:focus {
    background-color: #ffa5b4;
    outline-color: #e71d32;
    color: #ad1625; }
    .train--url-input_error:focus::-webkit-input-placeholder {
      color: white; }
    .train--url-input_error:focus:-moz-placeholder {
      color: white; }
    .train--url-input_error:focus::-moz-placeholder {
      color: white; }
    .train--url-input_error:focus:-ms-input-placeholder {
      color: white; }

@media (min-width: 768px) {
  .train--positive-input {
    width: 48.93617%;
    margin-right: 2.12766%;
    float: left; } }

.train--input-positive-error-message {
  display: none;
  color: #e71d32; }

.train--input-negative-error-message {
  display: none;
  color: #e71d32; }

@media (min-width: 768px) {
  .train--negative-input {
    width: 48.93617%;
    float: left;
    margin-top: 0rem; } }

.train--file-input {
  display: none; }

.train--file-input-button {
  cursor: pointer;
  border: 2px dashed #c7c7c7;
  padding: 1rem 2rem;
  font-weight: 400;
  color: #777677;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 1rem 2rem;
  font-size: 0.9rem;
  display: block; }
  .train--file-input-button:hover {
    background-color: transparent;
    color: #777677; }
  .train--file-input-button .base--a {
    text-decoration: underline; }
  .train--file-input-button.dragover {
    border-color: #5596e6;
    background-color: #c0e6ff; }

.train--file-indicator {
  margin-top: 0rem;
  display: none; }

.train--file-meter {
  width: 100%;
  height: 1.2rem;
  background-color: #c7c7c7;
  border: 2px solid #c7c7c7; }

.train--file-meter-percent {
  width: 50%;
  height: 100%;
  background-color: #e71d32;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .train--file-meter-percent_medium {
    background-color: #fdd600; }
  .train--file-meter-percent_good {
    background-color: #4b8400; }

.train--file-indicator-text {
  font-size: 0.9rem;
  margin-top: 0.5rem; }

.train--file-preview-container {
  display: none; }

.train--file-preview {
  max-height: 246px;
  overflow: auto;
  text-align: center; }
.train--limit-exceeded-message {
  color: #e71d32;
  display: none; }
.train--file-preview-thumb {
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  float: left;
  margin-top: 0rem;
  margin-right: 0.2rem;
  margin-bottom: 0.2rem;
  overflow: hidden; }

.train--file-preview-image {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%; }

.train--train-button {
  padding: 0.5em 1em;
  color: white;
  font-weight: bold;
  background-color: #325c80;
  border: 2px solid #325c80;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: inline-block;
  display: block;
  width: 100%;
  font-weight: 300;
  margin-top: 1.5rem; }
  .train--train-button:hover, .train--train-button:focus {
    color: #fff;
    background-color: #325c80; }
  .train--train-button:focus, .train--train-button:hover {
    padding: 0.5em 1em;
    color: #a53725;
    font-weight: bold;
    background-color: #264a60;
    border: 2px solid #264a60;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    display: inline-block; }
    .train--train-button:focus:hover, .train--train-button:focus:focus, .train--train-button:hover:hover, .train--train-button:hover:focus {
      color: #fff;
      background-color: #264a60; }
  .train--train-button:focus, .train--train-button:hover {
    font-weight: 300; }
  .train--train-button:disabled {
    background-color: #959595;
    border-color: #959595; }
  .train--train-button:disabled:focus, .train--train-button:disabled:hover {
    background-color: #959595;
    border-color: #959595; }

.train--bundles {
  margin-top: 2rem; }

.train--bundle {
  position: relative;
  margin-top: 0rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #f4f4f4; }
  .train--bundle:nth-of-type(2n) {
    margin-right: 0rem; }
  @media (min-width: 768px) {
    .train--bundle {
      width: 48.93617%;
      margin-right: 2.12766%;
      float: left; } }

.train--overlay {
  position: absolute;
  top: 0rem;
  left: 0rem;
  margin-top: 0rem;
  background-color: rgba(18, 18, 18, 0.5);
  width: 100%;
  height: 100%;
  display: table; }

.train--overlay-more {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white; }

.train--bundle-thumb-container {
  width: calc(20% - 0.2rem);
  margin-right: 0.25rem;
  display: inline-block;
  float: left;
  position: relative;
  margin-top: 0rem;
  margin-bottom: 0.25rem;
  height: 60px;
  overflow: hidden; }
  .train--bundle-thumb-container:nth-of-type(5n) {
    margin-right: 0rem; }
  .train--bundle-thumb-container:nth-child(5n+1):nth-last-child(-n+5),
  .train--bundle-thumb-container:nth-child(5n+1):nth-last-child(-n+5) ~ .train--bundle-thumb-container {
    margin-bottom: 0rem; }

.train--bundle-thumb {
  position: absolute;
  left: -9999px;
  right: -9999px;
  top: -9999px;
  bottom: -9999px;
  margin: auto;
  max-width: initial;
  width: 100%; }
  .train--bundle-thumb.landscape {
    height: 100%;
    width: auto; }

.train--bundle-header {
  font-size: 1.25em;
  margin-top: 0rem; }

.train--bundle-sub-header {
  font-size: 0.9rem;
  color: #777677;
  font-weight: 400;
  margin-top: 0.25rem; }

.train--bundle-select-all {
  position: absolute;
  top: 1rem;
  right: 1rem; }

.train--bundle-positive {
  margin-top: 0.25rem; }

.train--bundle-negative {
  margin-top: 0.25rem; }

.train--clear-button {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  padding: 0rem;
  margin: 0rem;
  float: right; }

.train--file-loading {
  margin: 1rem auto 0rem;
  display: none; }

.train--loading {
  display: none; }

.train--error {
  display: none; }

.test--example-radio {
  display: none; }

.test--example-thumb {
  width: 31.91489%;
  margin-right: 2.12766%;
  float: left;
  position: relative;
  display: inline-block;
  height: 100px;
  cursor: pointer;
  margin-top: 0rem;
  margin-bottom: 1rem;
  overflow: hidden; }
  .test--example-thumb:nth-of-type(3n) {
    margin-right: 0rem; }
  @media (min-width: 768px) {
    .test--example-thumb {
      width: 14.89362%;
      margin-right: 2.12766%;
      float: left; }
      .test--example-thumb:nth-of-type(3n) {
        width: 14.89362%;
        margin-right: 2.12766%;
        float: left; }
      .test--example-thumb:nth-of-type(6n) {
        margin-right: 0rem; } }
  .test--example-thumb:hover .test--example-image-overlay {
    opacity: 0.5; }

.test--example-image {
  position: absolute;
  left: -9999px;
  right: -9999px;
  top: -9999px;
  bottom: -9999px;
  margin: auto;
  max-width: initial;
  width: 100%; }
  .test--example-image.landscape {
    height: 100%;
    width: auto; }

.test--example-image-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #7cc7ff;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-top: 0rem; }

.test--example-images_car_vs_truck {
  display: none; }

.test--example-images_pizza_vs_spaghetti {
  display: none; }

.test--example-images_golden_retrievers_vs_dogs {
  display: none; }

.test--example-images_baseball_vs_cricket {
  display: none; }

.test--file-input {
  display: none; }

.test--file-input-button {
  cursor: pointer;
  border: 2px dashed #c7c7c7;
  padding: 1rem 2rem;
  font-weight: 400;
  color: #777677;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: block;
  font-size: 0.9rem; }
  .test--file-input-button:hover {
    background-color: transparent;
    color: #777677; }
  .test--file-input-button .base--a {
    text-decoration: underline; }
  .test--file-input-button.dragover {
    border-color: #5596e6;
    background-color: #c0e6ff; }

.test--url {
  margin-top: 1.5rem; }

.test--url-input {
  font-size: 0.9rem;
  font-weight: 400;
  border-width: 2px;
  border-color: #c7c7c7;
  padding: 0.5rem 2rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-top: 0rem; }
  .test--url-input:focus {
    outline: 2px solid #5596e6; }
  .test--url-input_error:focus {
    background-color: #ffa5b4;
    outline-color: #e71d32;
    color: #ad1625; }
    .test--url-input_error:focus::-webkit-input-placeholder {
      color: white; }
    .test--url-input_error:focus:-moz-placeholder {
      color: white; }
    .test--url-input_error:focus::-moz-placeholder {
      color: white; }
    .test--url-input_error:focus:-ms-input-placeholder {
      color: white; }

.test--invalid-image-url {
  color: #e71d32;
  margin-bottom: 1rem; }

.test--invalid-url {
  color: #e71d32;
  margin-bottom: 1rem; }

@media (min-width: 768px) {
  .test--output-left {
    width: 48.93617%;
    margin-right: 2.12766%;
    float: left;
    padding-right: 3rem; } }

.test--output-right {
  margin-top: 2rem; }
  @media (min-width: 768px) {
    .test--output-right {
      width: 48.93617%;
      float: left;
      margin-top: 0rem; } }

.test--output-image-container {
  width: 100%;
  display: block;
  max-width: 300px;
  height: 300px;
  position: relative;
  margin: 0rem auto;
  overflow: hidden; }
  @media (min-width: 768px) {
    .test--output-image-container {
      max-width: 100%;
      margin: 0rem; } }

.test--output-image {
  /*position: absolute;*/
  left: -9999px;
  right: -9999px;
  top: -9999px;
  bottom: -9999px;
  /*margin: auto;*/
  max-width: initial;
  display: block;
  width: 100%; }
  .test--output-image.landscape {
    height: 100%;
    width: auto; }

.test--output-thead {
  border-bottom: 3px solid #ececec;
  background-color: transparent;
  font-weight: 300; }

.test--output-tr.base--tr:nth-of-type(even),
.test--output-tr.base--STYLED tr:nth-of-type(even) {
  background-color: transparent; }

.test--output-td {
  padding: 1rem 0rem;
  color: #959595; }
  @media (min-width: 768px) {
    .test--output-td {
      padding: 1rem; } }
  .test--output-tr .test--output-td:nth-of-type(2n) {
    text-align: center; }
  .test--output-tr:nth-of-type(1) .test--output-td {
    font-size: 1.25em;
    font-weight: 300; }
  .test--output-thead .test--output-td {
    padding-top: 0rem;
    color: #323232; }
  .test--output-td_positive {
    color: #4b8400; }
  .test--output-td_medium {
    color: #ff7832; }
  .test--output-td_negative {
    color: #e71d32; }

.test--output-note {
  margin-top: 2rem;
  color: #777677; }

.test--classifier-images-title {
  cursor: pointer; }
  .toggled .test--classifier-images-title {
    display: none; }

.test--classifier-images-arrow {
  color: #ad1625;
  font-size: 1rem;
  margin-left: 1rem;
  vertical-align: middle;
  display: inline-block;
  margin-top: 0rem;
  position: absolute;
  right: 0rem;
  top: 0.5rem;
  cursor: pointer; }
  .toggled .test--classifier-images-arrow {
    -webkit-transform: rotateZ(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotateZ(-180deg); }

.test--classifier-images-toggle {
  position: relative; }

.test--classifier-images {
  display: none;
  margin-top: 0rem; }
  .toggled .test--classifier-images {
    display: block; }

@media (min-width: 768px) {
  .test--classifier-images-left {
    width: 48.93617%;
    margin-right: 2.12766%;
    float: left; } }

@media (min-width: 768px) {
  .test--classifier-images-right {
    width: 48.93617%;
    float: left;
    margin-top: 0rem; } }

.test--classifier-images-header {
  cursor: pointer; }

.test--classifier-images-thumb {
  width: calc(20% - 0.16rem);
  margin-right: 0.2rem;
  display: inline-block;
  float: left;
  margin-bottom: 0.2rem;
  position: relative;
  margin-top: 0rem;
  height: 100px;
  overflow: hidden; }
  .test--classifier-images-thumb:nth-of-type(5n) {
    margin-right: 0rem; }

.test--classifier-images-image {
  position: absolute;
  left: -9999px;
  right: -9999px;
  top: -9999px;
  bottom: -9999px;
  margin: auto;
  max-width: initial;
  width: 100%; }
  .test--classifier-images-image.landscape {
    height: 100%;
    width: auto; }

.test--classifier-images-link {
  float: right; }

.test--hr {
  border-top-width: 3px; }

.test--input-container {
  position: relative; }

.test--form {
  display: none; }
  .toggled .test--form {
    margin-top: 2rem;
    display: block; }

.test--header {
  cursor: pointer; }

.test--overlay {
  position: absolute;
  top: 0rem;
  left: 0rem;
  margin-top: 0rem;
  background-color: rgba(18, 18, 18, 0.5);
  width: 100%;
  height: 100%;
  display: table; }

.test--overlay-more {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white; }

.loading--image {
  margin: 0rem auto;
  width: 10rem;
  height: auto;
  display: block; }

.loading--message {
  text-align: center;
  color: #4178be; }

.error--image {
  margin: 2rem auto;
  width: 6.5rem;
  height: auto;
  display: block; }

.error--message {
  color: #d74108;
  text-align: center; }

.square {
  background-color: #e0e0e0; }
  .square img {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
    .square img.loaded {
      visibility: visible;
      opacity: 1; }

@media (min-width: 768px) {
  ._demo--container {
    width: 760px;
    margin: 0rem auto; } }

@media (min-width: 1200px) {
  ._demo--container {
    width: 992px;
    margin: 0rem auto; } }

._demo--heading {
  background-color: #244ec9;
  margin-top: 0; }
  @media (min-width: 700px) {
    ._demo--heading {
      padding-bottom: 0; } }

._demo--banner {
  margin-top: 0;
  background-color: #f4f4f4;
  border-bottom: 2px solid #ececec; }

._content {
  padding: 2rem 1rem; }
  @media (min-width: 768px) {
    ._content {
      padding: 2rem 0rem; } }
  ._content--example-section-1 {
    margin-top: 2rem; }
    @media (min-width: 768px) {
      ._content--example-section-1 {
        width: 50%;
        clear: right;
        float: left;
        padding-right: 2rem; } }
  @media (min-width: 768px) {
    ._content--example-section-2 {
      width: 50%;
      clear: right;
      float: left;
      margin-left: 0;
      margin-right: 0%; } }

      .banner {
        padding: 1.5rem 1rem; }
        @media (min-width: 1200px) {
          .banner--service-container {
            width: 74.46809%;
            margin-left: 0%;
            margin-right: 2.12766%;
            float: left;
            display: block;
            margin-top: 0rem; } }
        .banner--service-icon {
          vertical-align: middle;
          margin-top: 0.5rem; }
          @media (min-width: 500px) {
            .banner--service-icon {
              width: 6.25rem; } }
          @media (min-width: 700px) {
            .banner--service-icon {
              width: 8.125rem; } }
        .banner--service-icon_INLINE {
          vertical-align: middle;
          display: inline;
          height: 1.25em;
          display: none;
          margin-top: -0.275em; }
          @media (min-width: 500px) {
            .banner--service-icon_INLINE {
              display: none; } }
        .banner--service-icon-container {
          width: 100%;
          margin-left: 0%;
          margin-right: 2.12766%;
          float: left;
          display: block;
          display: none; }
          @media (min-width: 700px) {
            .banner--service-icon-container {
              width: 14.89362%;
              margin-left: 0%;
              margin-right: 2.12766%;
              float: left;
              display: block; } }
        @media (min-width: 700px) {
          .banner--service-info {
            width: 82.97872%;
            margin-left: 0%;
            float: left;
            display: block;
            margin-top: 0rem; } }
        .banner--service-link-item {
          display: block;
          margin-top: 0; }
          @media (min-width: 700px) {
            .banner--service-link-item {
              display: inline-block;
              margin-right: 1rem; } }
        @media (min-width: 1200px) {
          .banner--service-resource-container {
            width: 23.40426%;
            margin-left: 0%;
            float: left;
            display: block;
            margin-top: 0rem;
            padding-top: 1rem; } }
        .banner--service-resource {
          width: 100%;
          margin-left: 0%;
          float: left;
          display: block; }
          @media (min-width: 700px) {
            .banner--service-resource {
              width: 82.97872%;
              margin-left: 17.02128%;
              float: left;
              display: block; } }
        .banner--service-resource .icon-link {
          margin-right: 0.25rem; }
        .banner--service-links {
          width: 100%;
          margin-left: 0%;
          float: left;
          display: block; }
          @media (min-width: 700px) {
            .banner--service-links {
              width: auto;
              float: none;
              margin-left: 0rem;
              margin-right: 0rem;
              display: block;
              width: 82.97872%;
              margin-left: 17.02128%;
              float: left;
              display: block; } }


/* James updates */

.tooltip {
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
  position: absolute;
  background-color: #325c80;
  color: white;
  font-weight: 300;
  bottom: 100%;
  margin: 0rem 0rem 1rem;
  padding: 1rem;
}
.tooltip:after {
  border: 0.5rem solid transparent;
  border-top-color: #325c80;
  position: absolute;
  top: 100%;
  left: 50%;
  margin: 0rem;
  margin-left: -0.5rem;
  width: 0rem;
  height: 0rem;
  display: block;
}

.use--output-data {
  width: 100%;
  display: block;
  flex-wrap: nowrap;
}
@media (min-width: 500px) {
  .use--output-data {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .use--output-data {
    flex-wrap: nowrap;
  }
}

.results-table--container {
  width: 100%;
  max-width: none;
  min-width: 19rem;
  margin-top: 0rem;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .results-table--container {
    max-width: 33.333333333%;
    margin-left: 1rem;
  }
}

.test--output-data .results-table--container {
  max-width: none;
}
.results-table--container:first-child {
  margin-left: 0rem;
}
.results-table--json {
  float: right;
  margin-bottom: 1rem;
}
.results-table {
  background-color: white;
  border: 1px solid #cfd2d2;
  margin-bottom: 1rem;
  color: #6f6d70;
}
.results-table .base--thead {
  border-bottom: none;
}
.results-table .base--td {
  vertical-align: middle;
  padding: 0.75em 1em;
}
.results-table .base--th {
  text-align: left;
  padding: 0.4em 1em;
  color: #6c6d70;
  font-weight: normal;
}
.results-table .base--th.results-table--header {
  vertical-align: middle;
  background-color: #f3f3f3;
  font-weight: bold;
}
.results-table .base--radio + label:before, .base--STYLED input[type="radio"] + label:before {
  margin: 0rem 0.5rem 0rem 1rem;
}
.base--tr:nth-of-type(even), .base--STYLED tr:nth-of-type(even) {
  background-color: transparent;
}
.results-table--score-cell {
  width: 7rem;
  width: 60%;
}
.results-table--score-item {
  display: flex;
  align-items: center;
  width: 100%;
}
.results-table--score-value {
  font-weight: 500;
  width: 20%;
  margin-right: 0.7rem;
}
.results-table--score-value_good {
  color: #00b040;
}
.results-table--score-value_ok {
  color: #f97402;
}
.results-table--score-value_bad {
  color: #da2839;
}
.results-table--meter-container {
  display: flex;
  align-items: center;
  margin-top: 0rem;
  width: 80%;
}
.results-table--meter-number {
  margin-top: 0rem;
  font-size: 0.6em;
  font-weight: bold;
}
.results-table--meter {
  margin-top: 0rem;
  width: 100%;
  height: 0.6rem;
  border: 1px solid #cfd2d2;
  border-radius: 3rem;
  position: relative;
  overflow: hidden;
  margin: 0rem 0.2rem;
}
.results-table--meter-fill {
  position: absolute;
  height: 100%;
  background-color: #f5d5bb;
  width: 50%;
  transition: 0.2s;
}
.results-table--meter-fill_good {
  background-color: #b9e7c9;
}
.results-table--meter-fill_ok {
  background-color: #f5d5bb;
}
.results-table--meter-fill_bad {
  background-color: #f4bac0;
}
.results-table--line-break {
  border-color: #cfd2d2;
  border-width: 1px;
  margin: 0.3rem 0rem;
}
.results-table .base--td.results-table--feedback {
  padding-bottom: 1.5em;
  padding-top: 1.5em;
  -webkit-transition: background-color 1s, color 1s;
  -moz-transition: background-color 1s, color 1s;
  -ms-transition: background-color 1s, color 1s;
  -o-transition: background-color 1s, color 1s;
  transition: background-color 1s, color 1s;
}
.results-table--feedback-thanks {
  margin-left: 2rem;
  display: none;
}

.bottom-banner {
  max-width: 100%;
  overflow-x: hidden;
}

.test--mismatch {
  font-size: 1.2rem;
  color: #777677;
}

.use--mismatch {
  background-color: white;
  border: 0rem solid white;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: #777677;
}

form.dragover {
  border-color: #5596e6;
  background-color: #c0e6ff;
  opacity: 0.5;
}

.results-table--feedback-wowed {
  -webkit-transition: background-color 1s, color 1s;
  -moz-transition: background-color 1s, color 1s;
  -ms-transition: background-color 1s, color 1s;
  -o-transition: background-color 1s, color 1s;
  transition: background-color 1s, color 1s;
  width: inherit;
  background-color: #00b040;
  color: white;
}

.results--json {
  text-align: right;
  color: #315d80;
}

.results--json a {
  padding-right: 0.5rem;
  cursor: pointer;
  text-decoration: underline;
}

a.json img {
  float: right;
  max-width: 1rem;
}

.dim {
  opacity: 0.5;
}

.loader-container {
  display: block;
  width: 8rem;
  height: 8rem;
  margin: 0rem auto 1rem;
}

.loader {
  height: 100%;
  width: 100%;
  -webkit-transform: translateZ(0) rotate(300deg);
  transform: translateZ(0) rotate(300deg);
  -webkit-transform-origin: 25px 25px;
  transform-origin: 25px 25px;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-animation: b 4s ease-out infinite;
  animation: b 4s ease-out infinite;
}

.loader__path {
  stroke-dasharray: 125px;
  stroke-dashoffset: 9.7px;
  r: 20px;
  cx: 50px;
  cy: 50px;
  fill: transparent;
  stroke: #4178be;
  stroke-width: 4.65116px;
  stroke-linecap: butt;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(.5,.08,0,1);
  transition: stroke-dashoffset 1s cubic-bezier(.5,.08,0,1);
  -webkit-animation: a 4s ease-out infinite;
  animation: a 4s ease-out infinite;
}

@-webkit-keyframes a {
    0% {
        stroke-dashoffset: 9.7px
    }

    60% {
        stroke-dashoffset: 113.52px
    }

    to {
        stroke-dashoffset: 9.7px
    }
}

@keyframes a {
    0% {
        stroke-dashoffset: 9.7px
    }

    60% {
        stroke-dashoffset: 113.52px
    }

    to {
        stroke-dashoffset: 9.7px
    }
}

@-webkit-keyframes b {
    0% {
        -webkit-transform: rotate(300deg);
        transform: rotate(300deg)
    }

    60% {
        -webkit-transform: rotate(1320deg);
        transform: rotate(1320deg)
    }

    to {
        -webkit-transform: rotate(2100deg);
        transform: rotate(2100deg)
    }
}

@keyframes b {
    0% {
        -webkit-transform: rotate(300deg);
        transform: rotate(300deg)
    }

    60% {
        -webkit-transform: rotate(1320deg);
        transform: rotate(1320deg)
    }

    to {
        -webkit-transform: rotate(2100deg);
        transform: rotate(2100deg)
    }
}
