
._container--training h2 {
    font-weight: normal;
    font-size: 24px;
}

.select_all  {
  color: #315d80;
  text-decoration: underline;
  cursor: pointer;
}

._training--examples {
  display: block;
}

._training--example {
    width: 48.93617%;
    margin-right: 2.12766%;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 1rem;
    float: left;
    display: block;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
._training--example:nth-of-type(2n) {
  margin-right: 0rem;
}
@media (min-width: 600px) {
  ._training--example {
    width: calc(20% - 0.8rem);
    margin-right: 1rem;
  }
  ._training--example:nth-of-type(2n) {
    margin-right: 1rem;
  }
}

._training--example:last-child {
  margin-right: 0em;
}

._training--example h3 {
    color: #d74108;
    padding-bottom: 1vh;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 1.8rem;
    font-size: 1.3rem;
}

._training--use-your-own {
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.train--column-1 {
    width: 48.93617%;
    margin-right: 2.12766%;
    margin-top: 1rem;
    float: left;
}
.train--column-2 {
    width: 48.93617%;
    margin-right: 0rem;
    float: left;
}

._training--use-your-own-plus {
  font-size: 5rem;
  height: 5rem;
  font-weight: lighter;
  color: #3a5274;
  line-height: 0.8;
}

[data-kind="user"] {
  display: none;
}

@media (min-width: 600px) {
  [data-kind="user"] {
    display: block;
  }
}

._examples--user-input {
  /*background-color: #f1f1f1;*/
  position: relative;
}
._examples--full-background {
  background-color: #f1f1f1;
  width: 100vw;
  height: 26rem;
  z-index: -1;
  position: absolute;
  top: 0rem;
  left: -16vw;
}

._examples--user-input-left {
  width: 80%;
  float: left;
  margin-top: 2rem;
}

._examples--user-input-right {
  margin: 0rem;
  width: 20%;
  float: left;
  padding: 0rem 0rem 0rem 1rem;
  border-left: 1px solid gray;
  margin-top: 2rem;
}

._examples--negative-text {
  margin-top: 1rem;
}

._examples--error {
  float: left;
  color: #d43718;
}

._examples--user-input-classifier {
  width: 25%;
  float: left;
  padding: 0rem 1rem 0rem 0rem;
  margin-top: 0rem;
}

._examples--user-input-dropzone {
  border: 2px dashed #3a5274;
  border-style: dashed;
  padding: 0.5rem;
}

._examples--classes {
    display: block;
    cursor: pointer;
}

img {
    width: 100%;
}

._examples--class {
    margin: 0rem;
    width: calc(50% - 0.5rem);
    margin-right: 1rem;
    margin-bottom: 1rem;
    float: left;
    padding: 0rem;
}

@media (min-width: 600px) {
  ._examples--class {
      margin: 0rem;
      width: 20%;
      float: left;
      padding: 0rem 1rem 0rem 0rem;
  }

  div._negative {
      border-left: 1px solid darkgrey;
      padding-right: 0rem;
      padding-left: 1rem;
  }
}

._examples--class:nth-of-type(2n) {
  margin-right: 0rem;
}

._examples--class:first-child {
    margin-left: 0px;
}

._examples--class h4 {
    text-align: left;
    height: 3rem;
    font-size: 1rem;
    color: #121212;
    font-weight: 400;
}

.placeholder {
    min-height: 18pt;
}

._examples {
    margin-top: 3.125rem;
}

._examples , .train--row {
    transition: opacity 1s ease-out, height 1s linear;
    opacity: 0;
    height: 0;
    display: none;
}

._example--class {
    margin-top: 0px;
}

._examples.showing, .train--row.showing {
    opacity: 1;
    height: auto;
    display: block;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
}

.icon-hyperlink.train--reset {
    float: left;
}

.positive h2, .negative h2 {
    font-size: 1.5em;
    font-weight: normal;
    color: #121212;
}


@media (max-width: 600px) {

    .train--row.showing {
        display: flex;
        align-content: center;
    }

    .train--column-1 {
        width: 100%;
        margin-right: 2.12766%;
        margin-top: 1rem;
        float: none;
    }
    .train--column-2 {
        width: 100%;
        margin-right: 0rem;
        float: none;
    }

    .icon-hyperlink.train--reset {
        float: none;
        margin-top: 0rem;
    }
}

._example--class button {
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

._example--class img {
    width: 3vw;
    margin: 1em;
    display: flex;
    transition: 0.2s;
}

button {
    color: white;
    background-color: #315d80;
    outline: none;
    border-style: none;
    font-size: 16pt;
    width: 100%;
    font-weight: normal;
    font-style: normal;
    padding: 0.2em 0em;
    transition: 0.2s;
}

._examples--class__selected button {
    background-color: transparent;
    color: #2f6fad;
    box-shadow: 0px 0px 0px 2px #336588;
}

._training--form {
    background: #f4f4f4;
    width: 100%;
    border: 0;
    padding: 0px;
}

._examples--contact-sheet {
    text-align: center;
    margin-top: 2rem;
    display: none;
}

._examples--contact-sheet img {
    width: auto;
    transition: 0.2s;
}

@media (max-width: 600px) {
    ._examples--contact-sheet img {
        max-width: 100%;
        max-height: 185px;
    }
}

._container--bundle-form {
    display: none;
    flex-flow: column;
    align-content: center;
    justify-content: center;
    margin-left: 5em;
    margin-right: 5em;
}

._container--bundle-form.active {
    display: flex;
}

._container--bundle--selected {
    display: flex;
    flex-flow: row;
    align-content:center;
    justify-content: center;
    padding-top: 45px;
}

form.bundle--selected {
    display: flex;
    flex-flow: column;
    max-width: 30%;
}

form.bundle--selected button {
    margin-top: 2em;
}

._bundle--selected__positive, ._bundle--selected__negative {
    margin-top: 0px;
    margin-left: 1em;
    margin-right: 1em;
    width: 70%;
}

._bundle--selected__negative {
    border-left: solid 1px #80807f;
    padding-left: 2em;
    width: 30%;
}

._bundle--selected__positive h3, ._bundle--selected__negative h3 {
    font-size: small;
}

._container--bundle-form h1 {
    font-size: 24px;
    color: #2a2a2a;
}

._container--bundle-form .dotbox {
    max-width: 5em;
    margin: 1em;
}

._bundle--boxes {
    display: flex;
    flex-flow: row;
}

.twentyfourpx {
    font-size: 24px;
}

.normal {
    font-weight:normal;
}

.clickable {
    cursor: pointer;
}

._container--bundle-form input[type=submit] {
    margin-top: 1em;
    outline: none;
}

._container--bundle-form input[type=submit].disabled  {
    background-color: #9b9b9b;
    color:white;
}

._container--trained {
    display: none;
    margin: 5em;
}

form.trained input[type=text] {
    width: 30%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
}

._training--loading, ._training--loading_single {
    justify-content: center;
    display: none;
    flex-flow:column;
    align-items: center;
    background: white;
}

._training--loading img, ._training--loading_single {
    object-fit: contain;
}

._container--trained-results {
    display: flex;
    flex-direction: row;
}

._container--trained-results img.target {
    padding-right: 5em;
    object-fit: contain;
}

._container--trained-results ._data-table {
    width: 100%;
    margin-top: 0px;
}



._examples--clear {
  background-color: transparent;
  border: none;
  text-align: left;
  text-decoration: underline;
  padding: 0rem;
  margin: 0rem;
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #315d80; }

._examples--clear:hover, ._examples--clear:focus {
  color: #aeaeae; }

.user-submitted {
  background-color: #f3f3f3;
  width: calc(100% + 2rem);
  margin-left: -1rem;
}

form.upload ._demo--container {
  display: none;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (min-width: 600px) {
  form.upload ._demo--container {
    display: flex;
  }
}

@media (min-width: 1200px) {
  form.upload ._demo--container {
      flex-direction: row;
  }
}

form.upload input[type=file] {
    display: none;
}

.positive, .negative, .seperator {
    display: flex;
    flex-direction: column;
    margin-top: 0rem;
}

.seperator {
    display: none;
    background-color: black;
    margin-left: 1rem;
    margin-right: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 1px;
}

@media (min-width: 1200px) {
  .seperator {
    display: flex;
  }
  .negative {
    margin-top: 0rem;
  }
}

.classifiers {
    display: flex;
    flex-direction: row;
}

.classifier {
    display: flex;
    flex-direction: column;
    max-width: 12rem;
    width: 12rem;
    margin-top: 0px;
    margin-right: 1rem;
    font-size: smaller;
}

.classifier .base--input {
  border-color: #cfd2d2;
}

.classifier.negative {
    margin: 0rem;
}

.training_dropzone h2.negative-header {
  height: auto;
}

@media (min-width: 600px) {
  .training_dropzone h2.negative-header {

  }
}

@media (min-width: 674px) {
  .training_dropzone h2.negative-header {

  }
}

@media (min-width: 1200px) {
  .training_dropzone h2.negative-header {
      
  }
}

.classifier .text {
    border: 2px dashed #336588;
    padding: 1rem;
    cursor: pointer;
}

.classifier .text-zip-image {
  display: none;
  width: 6rem;
  margin: auto;
}

.classifiers:first-child {
    margin-right: 0px;
}

.negative .classifiers {
  margin-top: 2.5rem;
}

.train--trained-successfully {
  background-color: #336588;
  text-align: center;
  color: white;
  overflow: hidden;
  transition: 0.2s;
  height: 0rem;
  padding: 0rem;
  width: calc(100% + 4rem);
  margin-left: -2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.train--trained-successfully.showing {
  height: 4.85rem;
  padding: 1rem 0rem;
}

.train--trained-successfully img {
  width: 3rem;
  height: auto;
  vertical-align: middle;
  margin-right: 1rem;
  margin-top: -0.75rem;
}

.train--trained-successfully-text {
  text-align: left;
}

@media (max-width: 500px) {
  .train--trained-successfully-text {
    text-align: center;
    max-width: 35%;
  }
}

.clear_link {
  display: none;
}

.test--form {
  display: block;
  margin-bottom: 2.5rem;
}

.test--url-input {
  width: 100%;
}
@media (min-width: 500px) {
  .test--url-input {
    width: 20rem;
  }
}

.test--file-input-button {
  width: 100%;
}
@media (min-width: 500px) {
  .test--file-input-button {
    width: 20rem;
  }
}

.test--file-input-button-drag-text {
  display: none;
}
@media (min-width: 500px) {
  .test--file-input-button-drag-text {
    display: inline;
  }
}

.test--description {
  margin-bottom: 2rem;
  margin-top: 2.5rem;
}

.test--section {
  display: none;
}

.upload_message {
  color: #de4f3a;
}

input.base--input._examples--input-name {
  font-size: 1.5em;
  font-weight: normal;
  color: #121212;
}

.bundle {
  padding-left: 0px;
  width: 100%;
  border: none;
}

.bundle:focus {
    outline: none;
}